@import "./reset";
@import "./variables";

/* SCSS - opdracht 1 */

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $width;
    align-items: center;
    margin: $margin;
    border-radius: $border-radius;
    background-color:#fff;
    box-shadow: $box-shadow;
    font-family: $font-family;
    line-height: 2rem;
    & .omschrijving {
        padding: $padding $padding 0px $padding;
        font-size:larger;
    }
    & img {
    width: 150px;
    outline:#fff solid 5px;
    border-radius: 50%; 
    transform: translate(0px,60px);
  }
}
 
.footer {
    justify-content: center;
    width: $width;
    padding: 80px 0 30px 0;
    border-radius: 0 0 $border-radius $border-radius;
    background-color:#686de0;
    text-align: center;
    & h2 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 100;
    }
    & p {
        color: #9393d1;
    }
}

 /* SCSS - opdracht 2  */

.portfolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: $margin;
}

.portfolio img {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
}

.card:hover {
    opacity: 1;
    background-color: #4b4848;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.card:hover img {
    opacity: 0;
    transition: .5s ease;
}

.card:hover button {
    opacity: 1;
}

button {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (min-width: 768px) {
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .portfolio {
        grid-template-columns: repeat(3, 1fr);
    }
}

 /* SCSS - opdracht 3  */

.social_media{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    margin-bottom: $margin;
}

.icon {
    display: block;
    text-rendering: auto;
    color:#fff;
    margin: 20px;
}

.social_container > * {
    color: #fff;
    padding: 10px;
}

@mixin media_container {
    position: relative;
    text-align: left;
    width: 280px;
    transform: translateX(220px);
    transition: 1.0s ease;
}

@mixin media_container_hover {
    transform: translateX(0px);
    transition: 1.0s ease;
}

.social_media_blog {
    @include media_container;
        background-color: #e17b77;
    & .laptop-code::before {
        content: '\f5fc';
        font: var(--fa-font-solid);
        padding-right: $padding_icon;
    }
}

.social_media_blog:hover {
    @include media_container_hover;
}

.social_media_twitter {
    @include media_container;
    background-color: #00aced;
    & .twitter::before {
        content: '\f099';
        font: var(--fa-font-brands);
        padding-right: $padding_icon;
    }
}

.social_media_twitter:hover {
    @include media_container_hover;
}

.social_media_linkedin {
    @include media_container;
    background-color: #007bb6;
    & .linkedin::before {
        content: '\f0e1';
        font: var(--fa-font-brands);
        padding-right: $padding_icon;
    }
}

.social_media_linkedin:hover {
    @include media_container_hover;
}

.social_media_facebook {
    @include media_container;
    background-color: #3b5998;
    & .facebook::before {
        content: '\f39e';
        font: var(--fa-font-brands);
        padding-right: $padding_icon;
    }
}

.social_media_facebook:hover {
    @include media_container_hover;
}

.social_media_github {
    @include media_container;
    background-color: #333;
    & .github::before {
        content: '\f09b';
        font: var(--fa-font-brands);
        padding-right: $padding_icon;
    }
}

.social_media_github:hover {
    @include media_container_hover;
}